spring:
  application:
    name: formflow-api

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:formflow_db}
    username: ${DB_USER:formflow_user}
    password: ${DB_PASS:formflow_pass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: America/Cuiaba

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jackson:
    default-property-inclusion: NON_NULL
    mapper:
      default-view-inclusion: false
    deserialization:
      fail-on-unknown-properties: false

server:
  port: 8080
  servlet:
    context-path: /api/v1

security:
  jwt:
    secret: ${JWT_SECRET:formflow-secret-key-change-in-production-min-256-bits}
    expiration: ${JWT_EXPIRATION:86400000}       # 24h em ms
    refresh-expiration: ${JWT_REFRESH:604800000} # 7d em ms

minio:
  endpoint: ${MINIO_ENDPOINT:http://localhost:9000}
  access-key: ${MINIO_ACCESS_KEY:minioadmin}
  secret-key: ${MINIO_SECRET_KEY:minioadmin}
  bucket-uploads: ${MINIO_BUCKET_UPLOADS:formflow-uploads}
  bucket-public: ${MINIO_BUCKET_PUBLIC:formflow-public}
  presigned-url-expiry: ${MINIO_PRESIGNED_EXPIRY:300} # segundos

app:
  frontend-url: ${FRONTEND_URL:http://localhost:4200}
  mail:
    from: ${MAIL_FROM:noreply@formflow.com}
    from-name: ${MAIL_FROM_NAME:FormFlow}
